/*ntamas css*/

/*START BODY*/

#wpbody{
    background: linear-gradient(90deg, #C04848 0%, #480048 100%)!important;
}


.ntBody{
    background:white!important;
}

/*END BODY*/

/*START TOP BAR*/
.settings_page_scrollbar-settings-page #wpcontent{
    padding:0px!important;
}

.settings_page_scrollbar-settings-page .wrap{
    padding:0px!important;
    margin:0px!important;
}

.ntTopBar{
    display: flex;
    background: linear-gradient(90deg, #C04848 0%, #480048 100%);
    padding:20px 0px;
}

.nt_plugin_name{
    padding:0px!important;
    color:white!important;
    align-items: center;
}

.ntTopBar_left,.ntTopBar_right{
    width:50%;
}

.ntTopBar_left,.ntTopBar_right div{
    padding-left: 20px;
}

.ntTopBar_right{
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.ntTopBar_right div i{
    font-size:30px;
}

.ntTopBar_right div a{
    color:white!important;
}

.ntTopBar_right div a:hover{
    color:#ccf6ff!important;
}
/*END TOP BAR*/

/*START SETTINGS*/

.ntBody{
    padding: 30px;
    margin: 35px;
    border-radius: 20px;
    box-shadow: -5px 5px 11px 1px rgb(0 0 0 / 53%);
    -webkit-box-shadow: -5px 5px 11px 1px rgb(0 0 0 / 53%);
    -moz-box-shadow: -5px 5px 11px 1px rgba(0,0,0,0.53);
}

#setting-error-settings_updated{
    display:none!important;
}

.ntBody #setting-error-settings_updated{
    display:block!important;
}

/*END SETTINGS*/

/*START ADMIN FOOTER*/

#wpfooter{
    color:white!important;
}

#wpfooter a {
    color: black!important;
    font-weight: 700;
}

#wpfooter a:hover {
    color: white!important;
    font-weight: 700;
}

/*END ADMIN FOOTER*/
