/*ntamas css*/

/*START TOP BAR*/
.settings_page_scrollbar-settings-page #wpcontent{
    padding:0px!important;
}

.settings_page_scrollbar-settings-page .wrap{
    padding:0px!important;
    margin:0px!important;
}

.ntTopBar{
    display: flex;
    padding:20px 0px;
}

.nt_plugin_name{
    padding:0px!important;
    color:white!important;
    align-items: center;
}

.ntTopBar_left,.ntTopBar_right{
    width:50%;
}

.ntTopBar_left,.ntTopBar_right div{
    padding-left: 20px;
}

.ntTopBar_right{
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.ntTopBar_right div i{
    font-size:30px;
}

.ntTopBar_right div a{
    color:white!important;
}

.ntTopBar_right div a:hover{
    color:#ccf6ff!important;
}
/*END TOP BAR*/

/*START BODY*/

.settings_page_scrollbar-settings-page #wpwrap{
    background: linear-gradient(90deg, #C04848 0%, #480048 100%)!important;
}

.settings_page_scrollbar-settings-page .ntBody{
    background:#ffffff26!important;
    color: white!important;
}
.settings_page_scrollbar-settings-page .wpdeveloper-review-notice{
    display:none;
}

.settings_page_scrollbar-settings-page .ntBody h2,.settings_page_scrollbar-settings-page .ntBody th{
    color: white!important;
}

/*END BODY*/

/*START SETTINGS*/


.settings_page_scrollbar-settings-page .ntBody input[type=color], 
.settings_page_scrollbar-settings-page .ntBody input[type=date], 
.settings_page_scrollbar-settings-page .ntBody input[type=datetime-local], 
.settings_page_scrollbar-settings-page .ntBody input[type=datetime], 
.settings_page_scrollbar-settings-page .ntBody input[type=email], 
.settings_page_scrollbar-settings-page .ntBody input[type=month], 
.settings_page_scrollbar-settings-page .ntBody input[type=number], 
.settings_page_scrollbar-settings-page .ntBody input[type=password], 
.settings_page_scrollbar-settings-page .ntBody input[type=search], 
.settings_page_scrollbar-settings-page .ntBody input[type=tel], 
.settings_page_scrollbar-settings-page .ntBody input[type=text], 
.settings_page_scrollbar-settings-page .ntBody input[type=time], 
.settings_page_scrollbar-settings-page .ntBody input[type=url], 
.settings_page_scrollbar-settings-page .ntBody input[type=week], 
.settings_page_scrollbar-settings-page .ntBody select, 
.settings_page_scrollbar-settings-page .ntBody textarea{
    background-color: #ffffff1a!important;
    color: #ffffff!important;
}

.settings_page_scrollbar-settings-page .ntBody input[type=color]:focus, 
.settings_page_scrollbar-settings-page .ntBody input[type=date]:focus, 
.settings_page_scrollbar-settings-page .ntBody input[type=datetime-local]:focus, 
.settings_page_scrollbar-settings-page .ntBody input[type=datetime]:focus, 
.settings_page_scrollbar-settings-page .ntBody input[type=email]:focus, 
.settings_page_scrollbar-settings-page .ntBody input[type=month]:focus, 
.settings_page_scrollbar-settings-page .ntBody input[type=number]:focus, 
.settings_page_scrollbar-settings-page .ntBody input[type=password]:focus, 
.settings_page_scrollbar-settings-page .ntBody input[type=search]:focus, 
.settings_page_scrollbar-settings-page .ntBody input[type=tel]:focus, 
.settings_page_scrollbar-settings-page .ntBody input[type=text]:focus, 
.settings_page_scrollbar-settings-page .ntBody input[type=time]:focus, 
.settings_page_scrollbar-settings-page .ntBody input[type=url]:focus, 
.settings_page_scrollbar-settings-page .ntBody input[type=week]:focus, 
.settings_page_scrollbar-settings-page .ntBody select:focus, 
.settings_page_scrollbar-settings-page .ntBody textarea:focus{
    border-color: #4eab90;
    box-shadow: 0 0 0 1px #4eab90;
    outline: 2px solid transparent;
}

.settings_page_scrollbar-settings-page .ntBody .button-primary{
    background: #ffffff1a!important;
    border-color: #ffffff!important;
    color: #fff!important;
}

.settings_page_scrollbar-settings-page .ntBody .button-primary:hover {
    background: #4eab90!important;
    border-color: #000000!important;
    color: #000!important;
}

.settings_page_scrollbar-settings-page .ntBody{
    padding: 30px;
    margin: 35px;
    border-radius: 20px;
    box-shadow: -5px 5px 11px 1px rgb(0 0 0 / 53%);
    -webkit-box-shadow: -5px 5px 11px 1px rgb(0 0 0 / 53%);
    -moz-box-shadow: -5px 5px 11px 1px rgba(0,0,0,0.53);
}

.settings_page_scrollbar-settings-page #setting-error-settings_updated{
    display:none!important;
}

.settings_page_scrollbar-settings-page .ntBody #setting-error-settings_updated{
    display:block!important;
}

.settings_page_scrollbar-settings-page .notice, .settings_page_scrollbar-settings-page div.updated {
    background: #57dbb445!important;
    border: 1px solid #4eab90!important;
    border-left-width: 4px!important;
    border-radius: 6px!important;
}

.settings_page_scrollbar-settings-page div.error{
    background: #ab0000f0!important;
    border: 1px solid #000000!important;
    border-left-width: 4px!important;
    border-radius: 6px!important;
}

.settings_page_scrollbar-settings-page .notice-dismiss:before{
    color: #000000!important;
    font-size: 20px!important;
}
/*END SETTINGS*/

/*START ADMIN FOOTER*/

.settings_page_scrollbar-settings-page #wpfooter{
    color:white!important;
}

.settings_page_scrollbar-settings-page #wpfooter a {
    color: black!important;
    font-weight: 700;
}

.settings_page_scrollbar-settings-page #wpfooter a:hover {
    color: white!important;
    font-weight: 700;
}

/*END ADMIN FOOTER*/
